{% extends '::view.html.twig' %}

{% block page_title %}Cliente{% endblock %}

{% block page_subtitle %}Mostrar Email{% endblock %}

{% block page_content %}

<div class="box">
    <div class="box-body">

        <table class="table table-responsive table-hover">
            <tbody>
            <tr>
                <th>Cliente</th>
                <td>{{ clienteEmail.cliente }}</td>
            </tr>
            <tr>
                <th>Emails</th>
                <td>{{ clienteEmail.emails }}</td>
            </tr>
            <tr>
                <th>Mensagem</th>
                <td>{{ clienteEmail.mensagem }}</td>
            </tr>
            </tbody>
        </table>

        <div class="box-footer">
            <a href="{{ path('clienteemail_index') }}" class="btn btn-primary btn-sm">
                <span class="fa fa-list"></span>
            </a>
            <a href="{{ path('clienteemail_edit', { 'id': clienteEmail.id }) }}" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
        </div>

    </div>

{% endblock %}
